.App {
  text-align: center;
}

.App-logo {
  margin-top: -6vh;
  animation: App-logo-spin infinite 20s linear;
  height: 15vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* this is the css for the imgs in the Groups.js component */
.Img-group {
  width: 20vw;
  border-radius: 50%;            
}


/* Nav-link from app.js component */

.Nav-link{
  padding: 3px;
  border: 3px solid gray;
  margin: 5px;
}
.Nav-link a{
  margin: 0.5rem;
}

/* Some Css for the input filds */
input{
  margin-right: 50px;
}


/* Style for chartjs-render-monitor */
.chart{
  display: block;
  height: 100vh;
  width: 100vw;
}

